server {
    listen 80;
    server_name wpkit.dev www.wpkit.dev;

    root /server/www/wpkit.dev;
    index index.html index.htm index.php;

    access_log /server/log/wpkit.dev.log;
    error_log  /server/log/wpkit.dev-error.log error;

    charset utf-8;

    location / {
      # First attempt to serve request as file, then
      # as directory, then fall back to index.html
      try_files $uri $uri/ /index.html;
    }

    location ~ \.php$ {
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      fastcgi_pass unix:/var/run/php5-fpm.sock;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      include fastcgi_params;
    }
}
